GENERIC_TIMEZONE=Asia/Jakarta

# URL
N8N_HOST=http://localhost:5678
N8N_PROTOCOL=http
N8N_PORT=5678

WEBHOOK_URL=http://localhost:5678
N8N_EDITOR_BASE_URL=http://localhost:5678
N8N_SECURE_COOKIE=false

# Auth
N8N_BASIC_AUTH_ACTIVE=true
N8N_BASIC_AUTH_USER=admin
N8N_BASIC_AUTH_PASSWORD=admin123

# Storage
N8N_DATA_FOLDER=/home/node/.n8n

# DB
POSTGRES_USER=postgres
POSTGRES_PASSWORD=
POSTGRES_DB=
